<div class="container mt-3">
    <h2 class="mb-3">Wprowadź ponownie dane do faktury</h2>
  <div class="col-md order-md-1">
    <h4 class="mb-3">Dane do faktury</h4>
    <form class="needs-validation" #userDetailsForm="ngForm" (ngSubmit)="updateUserDetails(userDetailsForm)">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">Imię</label>
          <input type="text" class="form-control" id="firstName" [(ngModel)]="userDetail.firstName" name="firstName"
            required>
          <div class="invalid-feedback">
            Wymagane poprawne imię
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Nazwisko</label>
          <input type="text" class="form-control" id="lastName" [(ngModel)]="userDetail.lastName" name="lastName"
            required>
          <div class="invalid-feedback">
            Wymagane poprawne nazwisko
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="email">Email
          <span class="text-muted">(opcjonalnie)</span>
        </label>
        <input type="email" class="form-control" id="email" [(ngModel)]="userDetails.emailId" name="email" [disabled]="true">
        <div class="invalid-feedback">
          Wprowadz poprawny adres e-mail
        </div>
      </div>

      <div class="mb-3">
        <label for="address">Adres</label>
        <input type="text" class="form-control" id="address" placeholder="ul. Armii Krajowej..." [(ngModel)]="userDetail.address1"
          name="address1" required>
        <div class="invalid-feedback">
          Podaj adres dostawy
        </div>
      </div>

      <div class="mb-3">
        <label for="address2">Adres 2
          <span class="text-muted">(Opcjonalnie)</span>
        </label>
        <input type="text" class="form-control" id="address2" placeholder="mieszkanie/dom" [(ngModel)]="userDetail.address2"
          name="address2">
      </div>

      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="country">Kraj</label>
          <select class="custom-select d-block w-100" id="country" required [(ngModel)]="userDetail.country" name="country">
            <option value="">Wybierz...</option>
            <option>Polska</option>
          </select>
          <div class="invalid-feedback">
            Wybierz poprawny kraj
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="state">Województwo/Region</label>
          <select class="custom-select d-block w-100" id="state" [(ngModel)]="userDetail.state" name="state" required>
            <option value="">Wybierz...</option>
            <option>Małopolska</option>
          </select>
          <div class="invalid-feedback">
            Wprowadz poprawny region lub województwo
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="zip">Kod pocztowy</label>
          <input type="text" class="form-control" id="zip" placeholder="" [(ngModel)]="userDetail.zip" name="zip"
            required>
          <div class="invalid-feedback">
            Kod pocztowy jest wymagany
          </div>
        </div>
      </div>
      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit">Przejdź dalej</button>
    </form>
  </div>