<br>
<section class="container">

  <!-- Login form -->
  <div class="col-sm-6">
    <form style="width:22rem" #loginForm="ngForm" (ngSubmit)="signInWithEmail(loginForm)">
      <p class="h5 text-center mb-4">Zaloguj</p>

      <div class="form-group">
        <label for="loginEmailId">Adres E-Mail</label>
        <input type="email" class="form-control" id="loginEmailId" aria-describedby="emailHelp" placeholder="Wprowadź maila"
          name="emailId" [(ngModel)]="user.emailId" mdbInputValidate [email]="true">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Hasło</label>
        <input type="password" class="form-control" id="loginPassword" name="loginPassword" [(ngModel)]="user.loginPassword"
          autocomplete="current-password" placeholder="Hasło">
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary waves-light" id="loginButton" mdbRippleRadius>Zaloguj</button>

        <button type="button" class="btn waves-light" (click)="signInWithGoogle()" style="background-color: #dd4b39">
          <i class="fa fa-google" aria-hidden="true"></i>
          Zaloguj przez Google
        </button>

      </div>
    </form>
  </div>
  <br>
  <p>Jesteś tu nowy?
    <a data-toggle="modal" data-target="#createUserForm" style="color:dodgerblue">Zarejestruj się!</a>
  </p>
  <!-- Login form -->

  <!--Modal: Register Form-->
  <div class="modal fade" id="createUserForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
      <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
        <div class="modal-content">

          <div class="modal-header light-blue darken-3 white-text">
            <h4 class="title">
              <i class="fa fa-user-plus"></i>Zarejestruj się!</h4>
            <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" role="alert" *ngIf="errorInUserCreate">
              {{errorMessage.message}}
            </div>
            <div class="form-group form-sm">
              <label for="emailId">Twój email</label>
              <input mdbActive type="email" id="emailId" class="form-control" name="emailId" [(ngModel)]="createUser.emailId"
                placeholder="Wprowadź swojego maila!" mdbInputValidate [email]="true" autocomplete="email">
            </div>
            <div class="form-group form-sm">
              <label for="password">Hasło</label>
              <input mdbActive type="password" id="password" class="form-control" name="password" [(ngModel)]="createUser.password"
                placeholder="Wprowadź swoje hasło" mdbInputValidate autocomplete="new-password">
            </div>
            <div class="text-center mt-2">
              <button class="btn btn-info waves-light" id="signUpButton" mdbRippleRadius>Zarejestruj
                <i class="fa fa-sign-in ml-1"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<br>
<br>
<br>
