<form>
  <div class="row">

    <img [src]="loggedUser.avatar" *ngIf="loggedUser.avatar" [alt]="loggedUser.userName" style="width: 35%; height: 35%;">
    <img src="../../../assets/img/malecostume-512.png" *ngIf="!loggedUser.avatar" [alt]="loggedUser.userName" style="width: 35%; height: 35%;">
    <div class="col-md-8 mt-3">
      <label for="userName">Nazwa użytkownika</label>
      <p style="font-size: 15px;">{{loggedUser.userName}}</p>
    </div>
    <div class="col-md-8 mb-3">
      <label for="emailId">Email</label>
      <p style="font-size: 15px;">{{loggedUser.emailId}}</p>
    </div>
  </div>
</form>
