<br>

<div>
  <h2 *ngIf="authService.isAdmin()">Panel Admina</h2>
</div>


<div class="container">
  <div class="row" *ngIf="authService.isAdmin()">
    <div class="col-sm">
      <div class="float-right">
        <button type="button" class="btn btn-primary waves-light" data-toggle="modal" data-target="#exampleModalLong">
          Dodaj Produkt
        </button>
      </div>
    </div>
    <div class="col-sm">
      <div class="float-right">
        <button type="button" class="btn btn-primary waves-light" data-toggle="modal" data-target="#exampleModalCategory">
          Zarządzaj kategoriami
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    
    <div class="col-md-3">

      <div class="form-group">
        <label for="brand_select">Kategorie</label>
        <select class="form-control" name="" id="brand_select" [(ngModel)]="selectedBrand">
          <option *ngFor="let brand of brands" [ngValue]="brand">{{brand}}</option>
        </select>
      </div>
      
      
      <ul class="list-group">
        <li class="list-group-item">Najnowocześniejszy sprzęt</li>
        <li class="list-group-item">Najlepszy towar od sprawdzonych dostawców</li>
        <li class="list-group-item">Cerytfikacja jakości</li>
      </ul>

      <div class="list-group mt-5">
          <label for="productName">Wyszkuj</label>
          <input type="text" placeholder="Wyszukaj produktu" value="" [(ngModel)]="search">
      </div>
     
    </div>
    
    <div class="col-md-9">
      <div class="container">
        <app-card-loader [loop]="3" [height]="800" *ngIf="loading"></app-card-loader>
        <div class="row" *ngIf="!loading">
          <!-- List of Products -->
          <div class="col-sm-4 mb-2" *ngFor="let product of productList | filterByBrand: selectedBrand | filterByName: search | paginate: { itemsPerPage: 6, currentPage: page }">
            <div class="item">
              <div class=" mb-r">
                <!--Card-->
                <div class="card card-cascade wider">
                  <!--Card image-->
                  <a [routerLink]="['/products/product', product.$key]">
                    <div class="view overlay hm-white-slight">
                      <img [src]="product.productImageUrl" class="img-fluid" alt="" width="360px" height="640px">
                      <a>
                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                      </a>
                    </div>
                  </a>
                  <!--/.Card image-->
                  <!--Card content-->
                  <div class="card-body text-center no-padding">
                    <!--Category & Title-->
                    <a class="text-muted">
                      <h5>{{ product.productCategory }}</h5>
                    </a>
                    <p class="card-title">
                      <strong>
                        <a [routerLink]="['/products/product', product.$key]" routerLinkActive="router-link-active">{{
                          product.productName }}</a>
                      </strong>
                    </p>
                    <!--Description-->
                    <p class="card-text">{{ product.productDescription }}
                    </p>
                    <!--Card footer-->
                    <div class="card-footer">
                      <span class="left">PLN {{ product.productPrice }}</span>
                      <span class="right">
                        <!--
                        <a placement="top" mdbTooltip="Add to Wishlist" container="body" (click)="addFavourite(product)">
                          <i class="fa fa-heart"></i>
                        </a>
                        -->
                        <a placement="top" mdbTooltip="Add to Cart" container="body" (click)="addToCart(product)">
                          <i class="fa fa-shopping-cart"></i>
                        </a>
                        
                        <a placement="top" mdbTooltip="Usuń Produkt" container="body" *ngIf="authService.isAdmin()"
                          (click)="removeProduct(product.$key)">
                          <i class="fa fa-trash"></i>
                        </a>
                      </span>
                    </div>

                  </div>
                  <!--/.Card content-->

                </div>
                <!--/.Card-->

              </div>
            </div>
          </div>
        </div>
        <!-- Pagination -->
        <div class="text-center mt-3">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
      <!--/.Card-->
    </div>

  

  </div>
</div>

<div>
</div>


<app-add-product></app-add-product>
