
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Dodaj produkt</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" #addProductForm="ngForm" (ngSubmit)="createProduct(addProductForm)">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="productName">Firma</label>
              <input type="text" class="form-control" id="productName" name="productName" [(ngModel)]="product.productName" placeholder="Firma"
                value="" required>
              <div class="invalid-feedback">
                Błędna nazwa.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="productCategory">Model</label>
              <input type="text" class="form-control" id="productCategory" name="productCategory" [(ngModel)]="product.productCategory"
                placeholder="Model" value="" required>
              <div class="invalid-feedback">
                  Błędna nazwa.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="productDescription">Opis
              <span class="text-muted">(Opcjonalnie)</span>
            </label>
            <textarea type="text" class="form-control" id="productDescription" placeholder="Opis" name="productDescription"
              [(ngModel)]="product.productDescription"></textarea>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="productPrice">Cena</label>
              <input type="number" name="productPrice" class="form-control" [(ngModel)]="product.productPrice" placeholder="Cena"
                id="productPrice" value="" required>
              <div class="invalid-feedback">
                Wprowadzono błędną informację
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="productQuatity">Ilość</label>
              <input type="text" class="form-control" id="productQuatity" name="productQuatity" [(ngModel)]="product.productQuatity" placeholder="Ilosc"
                value="" required>
              <div class="invalid-feedback">
                Wprowadzono błędną informację
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="productSeller">Do kategorii:</label>
            <select class="form-control" id="productSeller" [(ngModel)]="product.productSeller" name="productSeller" required>
                <option *ngFor="let brand of brands" [ngValue]="brand">{{brand}}</option>
            </select>  
          </div>
          <div class="mb-3">
            <label for="productImageUrl">Zdjęcie</label>
            <input type="text" class="form-control" id="productImageUrl" [(ngModel)]="product.productImageUrl" name="productImageUrl"
              placeholder="Zdjecie (URL)" required>
          </div>

          <hr class="mb-4">

          <button id="dodawanko" class="btn btn-primary btn-lg btn-block" type="submit">Dodaj produkt</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Example model Kategoria-->
<div class="modal fade" id="exampleModalCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalCategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Dodaj kategorie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" #addCategoryForm="ngForm" (ngSubmit)="addCategory(addCategoryForm)">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="productName">Nowa kategoria</label>
                    <input type="text" class="form-control" id="kategoriaName" name="kategoriaName" [(ngModel)]="product.kategoriaName" placeholder="Nazwa kategorii"
                      value="" required>
                    <div class="invalid-feedback">
                      Błędna nazwa.
                    </div>
                  </div>
                  <hr class="mb-4">
                  <button class="btn btn-primary btn-lg" type="submit">Dodaj kategorię</button>
            </div> 
        </form> 
      </div>

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Usuń kategorie</h5>
      </div>
      <div class="modal-body">
        <div class="row">
 
          <div class="col-md-6 mb-3">
              <label for="productName">Wybierz kategorie:</label>
            <select class="form-control" name="" id="brand_select" [(ngModel)]="selectedBrand" #currentSelection>
              <option *ngFor="let brand of brands" [ngValue]="brand">{{brand}}</option>
            </select>  
          </div>
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg" (click)="delCategory()">Usuń kategorię</button>
        </div> 
      </div>

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edytuj kategorie</h5>
      </div>

      <div class="modal-body">
          <div class="row text-center">
 
              <div class="col-md-6 mb-3">
                  <label for="productName">Wybierz kategorie:</label>
                <select class="form-control" name="" id="brand_select" [(ngModel)]="selectedBrand" #currentSelection>
                  <option *ngFor="let brand of brands" [ngValue]="brand">{{brand}}</option>
                </select>  
              </div>
              <div class="col-md-6 mb-3">
                  <label for="productName">Nowa nazwa kategorii</label>
                    <input type="text" class="form-control" id="kategoriaNameNew" name="kategoriaNameNew" [(ngModel)]="kategoriaNameNew" placeholder="Nowa nazwa kategorii"
                      value="" required>
                    <div class="invalid-feedback">
                      Błędna nazwa.
                    </div>
              </div>
              <div class="col-md-12 mb-3">
                <button class="btn btn-primary btn-lg" (click)="editCategory()">Edytuj kategorie!</button>
              </div>
            </div> 
      </div>
    </div>
  </div>
</div>
