<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item hoverable">
          <a [routerLink]="['/users']">Twój profil</a>
        </li>
        <li class="list-group-item hoverable">
            <div class="row" *ngIf="authService.isAdmin()">
          <a [routerLink]="['/show-shippings']">&nbsp;&nbsp;&nbsp;&nbsp;Zamówienia</a>
          </div>
        </li>

        <li class="list-group-item hoverable">
          <div class="row" *ngIf="authService.isLoggedIn()">
        <a [routerLink]="['/show-shippings']">&nbsp;&nbsp;&nbsp;&nbsp;Zamówienia</a>
        </div>
      </li>

        <li class="list-group-item hoverable">
          <a [routerLink]="['/users', {outlets: {'profileOutlet': ['cart-items']}}]">Twój koszyk</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-8">
      <router-outlet name="profileOutlet"></router-outlet>
    </div>
  </div>
</div>
