<!--Footer-->
<footer class="page-footer indigo center-on-small-only mt-3">
  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      <a href="greg_lepki_raczki@gmail.com"> Drużyna spirali: Przemek, Michał </a>

      <span style="float:right">
      </span>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->