<div class="col-sm-4 mb-2" *ngFor="let shipping of shippingList">
    <div class="row" *ngIf="authService.isAdmin()">
   
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
              </tr>
            </thead>
           
            <tbody>
              <tr>
                  <th scope="row">Nazwa produktu</th>
                  <td>{{shipping.products[0].productName}}</td>
              </tr>
  
              <tr>
                  <th scope="row">Model</th>
                  <td>{{shipping.products[0].productCategory}}</td>
              </tr>
  
              <tr>
                  <th scope="row">Całkowita kwota zamówienia</th>
                  <td>{{shipping.totalPrice}} zł</td>
              </tr>
  
            </tbody>
          </table>
    </div>
  </div>
  
  <div class="col-sm-4 mb-2">
  <div class="row" *ngIf="authService.isLoggedIn()">
  <tr>
      <th scope="row">Ilość zamówień &nbsp;</th>
      <td style="color: red;">{{numberOfShippings}}</td>
  
  </tr>
  </div>
  </div>

  <div class="col-sm-4 mb-2" *ngFor="let product1 of currentZamowienie, let x = index">
      <div class="row" *ngIf="authService.isLoggedIn()">
     
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Nr. zamówienia <strong>{{x+1}}</strong></th>
                  <th scope="col">Firma</th>
                  <th scope="col">Model</th>
                  <th scope="col">Cena</th>
                </tr>
              </thead>
             
              <tbody *ngFor="let product2 of product1">
    
              <tr *ngFor="let product3 of product2, let i = index">
                <th *ngIf="i != 0" scope="row"><strong>Produkt:</strong></th>
                <td *ngIf="i != 0">{{product3.productName}}</td>
                <td *ngIf="i != 0">{{product3.productCategory}}</td>
                <td *ngIf="i != 0">{{product3.productPrice}} zł</td>
              </tr>
              </tbody>
              <tr>
                  <th scope="row">Status </th>
                  <td colspan="3" style="background-color: greenyellow">Dostarczono</td>
              </tr>
              <tr>
                  <th scope="row">Całkowita kwota zamówienia: </th>
                  <td colspan="3">{{shippingCurrentList[x].totalPrice}} zł</td>
              </tr>
            </table>
      </div>
      </div>

