<div class="container">
    <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let product of checkoutProducts">
            <div>
                <img [src]="product.productImageUrl" [alt]="product.productName" width="150" height="100">
            </div>
            <div style="padding: 10px">
                <h6 class=" my-0 ">{{product.productName}}</h6>
                <p>Kategoria : {{product.productSeller}}</p>
            </div>
            <span class="text-muted ">PLN {{product.productPrice}}</span>
        </li>
        <hr>
        <li class="list-group-item d-flex justify-content-between ">
            <span>Kwota (PLN)</span>
            <strong>PLN {{totalPrice}}</strong>
        </li>

    </ul>
    <div class="float-right">
        <a class="btn btn-default " [routerLink]="['/checkouts', {outlets: {'checkOutlet': ['shipping-details']}}]" routerLinkActive="active">Dalej</a>
    </div>

</div>